/**/
@import url("~bootstrap/dist/css/bootstrap.min.css") layer(framework);

.app-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.dashed{
    border: 2px dashed;
}

.round-icon{
    border-radius: 100%
}
.square-icon{
    --bs-btn-border-radius:0;
}



